header {
    background: #6200EE;
    padding: 0 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-decoration: none;
}


div.search {
    display: flex;
}

div.search input {
    width: 13em;
    margin-right: 5px;
}
