button, .btn {
    border: 0;
    background-color: #2A913E;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 32px;
    font-size: 0.8rem;
    border-radius: 3px;
    line-height: 22px;
    text-decoration: none;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    font-size: 0.85rem;
}